<!doctype html>
<!--[if IE 8]><html class="ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html class="ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="./css/style.css" rel="stylesheet">
        
</head>
<body>

        <div id="sideMenu">
            <a href="#" onclick="closeSideMenu()"><i class="fas fa-times"></i></a>     
            <div id="sideLogo">LOGO</div>
            <div id="sideSearch">
                <button id="sideSearchBTN"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="...جست و جو" name="search">
            </div>

            <div id="sideList">

            <div class="collapsible" onclick="collapse('clps1')"><i class="fas fa-chevron-down"></i>  some shit </div>
            <div class="collapsed" id="clps1">
                <ul>
                  <li>subshit-1</li>
                  <li>subshit-2</li>
                  <li>subshit-3</li>
              </ul>
              </div>

            <div class="collapsible" onclick="collapse('clps2')"><i class="fas fa-chevron-down"></i>  other shit </div>
            <div class="collapsed" id="clps2">
                <ul>
                  <li>subshit-1</li>
                  <li>subshit-2</li>
                  <li>subshit-3</li>
              </ul>
              </div>

            <div class="collapsible" onclick="collapse('clps3')"><i class="fas fa-chevron-down"></i>  another shit </div>
            <div class="collapsed" id="clps3">
                <ul>
                  <li>subshit-1</li>
                  <li>subshit-2</li>
                  <li>subshit-3</li>
              </ul>
              </div>

            </div>
    

        </div>
<!---->
    <div id="navbar">     
        <div id="logo">LOGO</div>
        <a href="#"><p1>فروشگاه</p1></a>
        <a href="#"><p1>پشتیبانی</p1></a>
        <div id="accountingDesktop"><p2>ورود / ثبت نام</p2></div>
        <div id="accountingMobile"><i class="fas fa-user"></i></div>
        <div id="hamburger" onclick="openSideMenu()"><i class="fas fa-bars"></i></div>
    </div>
<!---->
    <div id="slider">
       
        <figure id="sliderContent">
            <div class="slide" style="background-image:url('./assets/1.png')"></div>
            <div class="slide" style="background-image:url('./assets/2.png')"></div>
            <div class="slide" style="background-image:url('./assets/3.png')"></div>
            <div class="slide" style="background-image:url('./assets/4.png')"></div>
        </figure>
       
    </div>
<!---->
    <div id="menuBar">

        <div class="expandable" style="float:right;margin-right: 4%;"> some shit</div>
        <div style="width:4%;height:100%;float: right;margin-right: 4%;border-left: 2px solid white;border-right: 2px solid white;"></div>
       
        <div id="searchBar">
            <button id="searchBTN"><i class="fas fa-search"></i></button>
            <input type="text" placeholder="...جست و جو" name="search">
        </div>

        <div class="expandable" style="margin-left:2%;"><i class="fas fa-home"></i></a></div>
        
        <div class="expandable"><i class="fas fa-chevron-down"></i> other shit
            <div class="expand">
                <ul>
                    <li>subshit-1</li>
                    <li>subshit-2</li>
                    <li>subshit-3</li>
                </ul>
            </div>    
        </div>

        <div class="expandable"><i class="fas fa-chevron-down"></i> another shit
            <div class="expand">
                <ul>
                    <li>subshit-1</li>
                    <li>subshit-2</li>
                    <li>subshit-3</li>
                </ul>
            </div>    
        </div>

        <div class="expandable"><i class="fas fa-chevron-down"></i> hammered shit
            <div class="expand">
                <ul>
                    <li>subshit-1</li>
                    <li>subshit-2</li>
                    <li>subshit-3</li>
                </ul>
            </div>    
        </div>


        
        


    </div>



</body>
<script src="./js/script.js"></script>
</html>