<!doctype html>
<!--[if IE 8]><html class="ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html class="ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cleartype" content="on">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="./css/style.css" rel="stylesheet">
</head>
<body>

    <div id="navbar">
        
        <div id="logo">LOGO</div>
        <a href="#">فروشگاه</a>
        <a href="#">پشتیبانی</a>
        <div id="accountingDesktop">حساب کاربری <i class="fas fa-angle-down"></i></div>
        <div id="accountingMobile"><i class="fas fa-user"></i></div>
        <div id="hamburger"><i class="fas fa-bars"></i></div>
    </div>



</body>
</html>