body{
    width: 100%;
    height: -webkit-fill-available;
    margin: 0;
    background-color: royalblue;
}

#navbar{
    width: 100%;
    height: 6vh;
    top:0;
    background-color: blueviolet;
    z-index: 1;

    
}

#hamburger{
    display: none;
    width: 10%;
    height: 6vh;
    position: fixed;
    right:1%;
    top:4%;
    font-size:4vh;
    text-align: center;

}

#logo{
   width: 10%;
   height: 100%; 
   background-color: darkgreen;
   float: right;
   margin-right: 2%;
   text-align: center;
}

#navbar a{
    color: black;
    text-decoration-line: none;
    float:right;
    display: inline-block;
    margin-top: 0.3em;
    margin-right: 2%;
}

#navbar a:hover{
    color: aliceblue;
}

#accountingDesktop{
    float: left;
    color: floralwhite;
    margin-top: 0.3em;
    margin-left: 2%;
}

#accountingDesktop:hover{
    color: black;
}

#accountingMobile{
    display: none;
    width: 10%;
    height: 6vh;
    position: fixed;
    left: 1%;
    top:4%;
    font-size:4vh;
    text-align: center;
}


/*@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
*/

#slider{
    overflow: hidden;
    height: 40vh;
    z-index: 1;
}

.slide {
     width: 20%;
     float: left;
     height: -webkit-fill-available;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100% 100%; 
    
    }


#sliderContent { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    transition: left 2s cubic-bezier(0, .5, .5, 1);
   /* animation: 40s slidy infinite; */
  }

.swap{
   position: fixed;
   width: 10%;
   height: 50%;
}  

#sideMenu{
   width: 280px;
   background-color: darkslategrey;
   height: -webkit-fill-available; 
   z-index: 999;
   position: fixed;
   right: -100%;
   display: none;
}

#sideMenu a:first-child{
    text-decoration-line: none;
    color: aliceblue;
    font-size: 2em;
    position: fixed;
    padding: 10px;
}

#menuBar{
    width: 100%;
    height: 8vh;
    background-color: brown;
}

#searchBar{
    width: 25%;
    height: 100%;
    float: right;
    margin-right: 1%;
}

#searchBar input{
    width: 80%;
    height: 70%;
    top:15%;
    position: relative;
    border:none;
    text-align: center;
    background-color: burlywood;
    border-radius: 4px;
}

#searchBar button{
    height: 70%;
    width: 15%;
    position: relative;
    top: 15%;
    border: none;
    padding: 0;
    background-color: chocolate;
    font-size: 2vh;
    border-radius: 6px;
}

.expandable{
    position: relative;
    height: 50%;
    width: fit-content;
    top: 25%;
    margin-left: 1%;
    margin-right: 1%;
    direction: rtl;
    font-size: 3vh;
    color: white;
    float: left;
}

.expand{
    display: none;
    width: 150%;
    background-color: coral;
    position: absolute;
    z-index: 99;
    
}

.expand ul{
    list-style-type: none;
}
.expand:hover{
    display: block;
}

.expandable:hover .expand{
    display: block;
}

.expandable i{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}
.expandable:hover i{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#sideSearch{
    position: fixed;
    top:12%;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid white;

}
#sideSearchBTN{
    float: left;
    border: none;
    padding: 0;
    width: 4.5em;
    height: 70%;
    margin-top: 1%;
    position: relative;
    margin-left: 0;
}
#sideSearch input{
    width: 16.5em;
    height: 70%;
    float: left;
    margin-left: 0em;
    margin-top: 1%;
    position: relative;
    border: none;
    padding: 0;


}

#sideList{
    width: 100%;
    margin-top: 22vh;
    height: 78vh;
    position: relative;
    overflow-y: scroll;

}

.collapsible{
    width: 90%;
    height: 8%;
    text-align: right;
    border-bottom: 1px solid white;
    padding-right: 10%;
    padding-top: 4%;
    font-size: 4vh;

}

.collapsible i{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}

.rotate180 i{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.collapsed{
    height: max-content;
    display: none;
}

.collapsed ul{
    list-style-type: none;
    color: aliceblue;
    padding-right: 16%;
    text-align: right;
    font-size: 4vh;
    margin: 2%;
}

#sideLogo{
    width: 50%;
    background-color: brown;
    float: right;
    margin-right: 20%;
    margin-top: 4%;
    height: 8%;
    text-align: center;
}


.active{display: block;}
.borderNone{border-bottom: none;}

@media only screen and (max-width:1023px){
    
    #navbar {height: 12vh;}
    #navbar a:not(:nth-child(2)) {display: none;}
    #navbar a:nth-child(2){width: 20%;text-align: center;margin-right: 40%;}
    #accountingDesktop{ display: none;}
    #accountingMobile{ display: block;}
    #hamburger{ display: block}
    #logo{width:20%;margin-right: 40%;height: 50%;}
    #sideMenu{display: block;}
    #menuBar{display: none;}

}

.slideController{
    position: fixed;
    width: 12%;
    height: 5%;
    margin-top: 15vh;
    text-align: center;
    padding-top: 3vh;
    border: 1px solid black;
    background-color: rgba(508,138,229,0.3);
}

/******************************************************/
/******************************************************/
#cardsContainer{
    width: 100%;
    height: 40vh;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    overflow: hidden;
    transition: left 1s cubic-bezier(0, .5, .5, 1);
    
}

#cardsContainer h1{
    font-size: 2em;
    text-align: right;
    padding-right: 6vh;
    padding-top: 3vh;
    padding-bottom: 1vh;
    margin: 0;
}
#cardSlider{
    width: 100%;
    margin: 0;
    position: relative;
    left: -100%;
}

.card{
    height: -webkit-fill-available;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25vh;
    margin-left: 2vh;
    margin-right: 2vh;
    float: left;
}

#cardContent{
    width: 100%;
    height:28vh;
    overflow-x: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.cardController{
    position: fixed;
    background-color: cyan;
    width: 4vh;
    height: 8vh;
    text-align: center;
    margin-top: 10vh;
}

.cardController i{ 
    padding-top: 2.5vh;
}